<link 
rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
crossorigin="anonymous">

<h1 class="main-heading">My SMS App</h1>
<hr>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href='/'>Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="inbox" href='view-incoming-messages'>Inbox</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href='view-sent-messages'>Sent Messages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href='send-message'>Send New Message</a>
  </li>
</ul>
<button 
    type="button" 
    id="refresh" 
    class="btn btn-info" 
    style="visibility: hidden">
    Refresh Recent Messages
</button>
<ul class="message-list">
    {{#each messageData}}
    <h5 class="message-header">Inbound Message</h5>
        <li><strong>Time Received:</strong> {{this.timestamp}}</li>
        <li><strong>From:</strong> {{this.from_number_json}}</li>
        <li><strong>To:</strong> {{this.to_number_json}}</li>
        <li><strong>ID:</strong> {{this._id}}</li>
        <li><strong>Message:</strong> <em>{{this.text_json}}</em></li>
    <hr>
    {{/each}}
</ul>

<ul class="message-list">
    {{#each sentMessageData}}
    <h5 class="message-header">Sent Message</h5>
        <li><strong>Time Sent:</strong> {{this.timestamp}}</li>
        <li><strong>From:</strong> Plivo</li>
        <li><strong>To:</strong> {{this.toNumber}}</li>
        <li><strong>Message:</strong> <em>{{this.messageText}}</em></li>
    <hr>
    {{/each}}
</ul>
